@import '../../style/utils/variables';
.social-menu{
    list-style: none;
    display: flex;
    align-items: center;

    .social-item{
        color: $white;
    }
}
footer{
    background-color: $primary;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    font-family: 'Finger Paint', cursive;
    font-weight: 700;
    font-size: 55px;
    color: $logo;
}